html
{
    width: 100%;
    height: 100%;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(-45deg, #da0000, #da0000, #000000, #000000);
    margin: 0 auto;
    width: 100vh;
    height: 45vh;
    gap: 30px;
}
#foto-perfil
{
    width: 100px;
    border-radius: 50%;
}
nav
{
display: flex;
flex-wrap: nowrap;
gap: 50px;
}
div.item-contact
{
    color: white;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
object.address
{
    fill: white;
    width: 40px;
    height: 40px;
}